@font-face {
    font-family: smbfont;
    src: url("../images/fonts/smbfont 2.ttf");
  }


#app-name {
    font-size: 5vw;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;

    -webkit-text-stroke: 2px black;
    font-family: smbfont;
}

.nav-wrapper {
    padding-bottom: 100px;
}

/* #logo-image {
    height: 70px;
    width: 70px;

    margin-top: 10px;
    margin-left: 20px;
} */

.scores {
    text-align: right;
}
    .currentScore {
        padding-top: 20px;
        font-size: 25px;
        color: white;
    }
    .topScore {
        padding-top: 20px;
        font-size: 25px;
        color: white;
    }